#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  font-family: Plus Jakarta Sans;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-inline: 30px;
}

.header-left-one {
  display: flex;
  gap: 15px;
  padding: 35px;
  border-right: 1px solid #E4EBFA;
}

.header-left {
  display: flex;
  align-items: center;

  h4 {
    padding-left: 32px;
  }
}

.header-right {
  display: flex;

  a {
    padding: 15px 25px;
    background-color: #635FC7;
    color: #FFFFFF;
    border-radius: 24px;
  }
}

.container {
  /* padding-inline: 24px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #F4F7FD;

  h1 {
    padding: 8px;
    background-color: #8471F2;
    border-radius: 50%;
  }

  h3 {
    text-align: left;
  }

  p {
    display: inline-block;
    margin-top: 20px;
    padding: 23px 16px;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 18.9px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
  }
}

.container-one-column {
  display: flex;
  align-items: center;
  gap: 12px;
}

.newColumn {
  display: flex;
  align-items: center;
  padding-inline: 55px;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.24px;
  text-align: center;
  color: #828FA3;
  background-color: #E9EFFA;

}


.container-one {
  padding: 23px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}