#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  font-family: Plus Jakarta Sans;

}

body {
  background-color: #F4F7FD;

}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-inline: 30px;
}

.header-left-one {
  display: flex;
  gap: 15px;
  padding: 35px;
  border-right: 1px solid #E4EBFA;
}

.header-left {
  display: flex;
  align-items: center;

  h4 {
    padding-left: 32px;
  }
}

.header-right {
  display: flex;

  a {
    padding: 15px 25px;
    background-color: #635FC7;
    color: #FFFFFF;
    border-radius: 24px;
  }
}

.container {
  /* padding-inline: 24px; */
  display: grid;
  flex-direction: row;
  justify-content: flex-start;
  grid-template-columns: auto auto auto auto auto auto;

  h1 {
    padding: 8px;
    background-color: #8471F2;
    border-radius: 50%;
  }

  h3 {
    text-align: left;
  }

  p {
    display: inline-block;
    margin-top: 20px;
    padding: 23px 16px;
    font-size: 15px;
    font-weight: 700;
    line-height: 18.9px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
  }
}

.container-one-column {
  display: flex;
  align-items: center;
  gap: 12px;
}

.newColumn {
  display: flex;
  align-items: center;
  padding-inline: 55px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.24px;
  text-align: center;
  color: #828FA3;
  background-color: #E9EFFA;

}


.container-one {
  padding: 23px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.newTaskDialog {
  padding: 32px;

  h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;

  }

  span {
    text-align: left;
    margin-top: 24px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.12px;
    text-align: left;
    color: #828FA3;
  }
}

.newTaskForm {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  select {
    margin-top: 8px;
    padding: 10px 16px;
    border: 1px solid #828FA340
  }

  input {
    width: 416px;
    padding: 10px 16px;
    margin-top: 8px;
    border: 1px solid #828FA340
  }

  button {
    margin-top: 24px;
    font-size: 13px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 9px;
    background-color: #635FC7;
    border-radius: 20px;
    border: none;

  }
}

@media (max-width: 460px) {
  .header {
    padding: 0;
    /* flex-direction: column; */
    align-items: flex-start;
    padding-inline: 6px;
  }

  .header-left-one {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-right {
    /* width: 100%; */
    justify-content: center;
  }

  .header-right a {
    /* width: 100%; */
    text-align: center;
    margin-top: 24px;
    font-size: 24px;
    font-weight: 900;
    padding: 12px 20px
  }

  .container {
    grid-template-columns: 1fr;
    padding-inline: 20px;
  }

  .newTaskForm input {
    width: 100%;
  }

  .newTaskDialog {
    padding: 62px;
  }

  .newColumn {
    padding-block: 10px;
    border-radius: 10px;
  }

}